<div class="h-card col-lg-3 col-md-4 col-12 float-md-left pr-md-3 pr-xl-6" itemscope
    itemtype="http://schema.org/Person">
    <div class="user-profile-sticky-bar js-user-profile-sticky-bar">
    </div>
    <div class="clearfix mb-2">
        <div class="float-left col-3 col-md-12 pr-3 pr-md-0">
            {{ with $.Site.Params.avatar }}
            <a itemprop="image" class="u-photo d-block position-relative" aria-hidden="true"
                href="{{ $.Site.Params.avatar  }}">
                <img alt="" width="260" height="260"
                    class="avatar width-full height-full rounded-2" src="{{ $.Site.Params.avatar  }}" />
            </a>
            {{ else }}
            <a itemprop="image" class="u-photo d-block position-relative" aria-hidden="true"
                href="{{ "images/avatar.png" | absURL }}">

                <img alt="" width="260" height="260"
                    class="avatar width-full height-full rounded-2" src="{{ "images/avatar.png" | absURL }}" />
            </a>
           {{ end }}
        </div>
        <div class="float-left col-9 col-md-12 pl-2 pl-md-0">

            <div class="vcard-names-container pt-1 pt-md-3 pb-1 pb-md-3 js-sticky js-user-profile-sticky-fields">
                <h1 class="vcard-names">
                    <span class="p-name vcard-fullname d-block overflow-hidden"
                        itemprop="name">{{ .Site.Params.author }}</span>
                    <span class="p-nickname vcard-username d-block"
                        itemprop="additionalName">{{ .Site.Params.github }}</span>
                </h1>
            </div>

            {{ if .Site.Params.github }}
            <div class="user-profile-following-container js-user-profile-following-toggle mb-3">
                <span class="user-following-container js-toggler-container js-social-container">
                    <span class="follow">
                        <input type="button" style="max-width: 100%" value="Follow"
                            class="btn btn-block top-0 js-sticky js-user-profile-follow-button mb-2  js-toggler-target"
                            title="Follow" onclick="window.location.href = 'https://github.com/{{ .Site.Params.github }}'" />
                    </span>
                    <span class="unfollow">
                        <input type="button" style="max-width: 100%" value="Unfollow"
                            class="btn btn-block top-0 js-sticky js-user-profile-follow-button mb-2  js-toggler-target"
                            title="Unfollow" onclick="window.location.href = 'https://github.com/{{ .Site.Params.github }}'" />
                    </span>
                </span>
            </div>
            {{ end }}

            <div class="d-none d-md-block">
                <div class="js-profile-editable-area">
                    <div class="p-note user-profile-bio js-user-profile-bio">
                        <div>{{ .Site.Params.Description }}</div>
                    </div>
                </div>
            </div>

            <div class="border-top py-3 clearfix hide-sm hide-md">
                <h2 class="mb-1 h4">Organizations</h2>

                {{ if .Site.Params.github}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://github.com/{{ .Site.Params.github }}">
                    <img src="{{ "images/github.png" | absURL }}" class="avatar" width="35" height="35">
                </a>
                {{ end }}
                {{ if .Site.Params.Twitter}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://twitter.com/{{ .Site.Params.Twitter }}">
                    <img src="{{ "images/twitter.png" | absURL }}" class="avatar" width="35" height="35">
                </a>
                {{ end }}
                {{ if .Site.Params.Twitter}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://ja-jp.facebook.com/{{ .Site.Params.Facebook }}">
                    <img src="{{ "images/facebook.png" | absURL }}" class="avatar" width="35" height="35">
                </a>
                {{ end }}
            </div>

            <div data-test-selector="profile-sponsorships">
            </div>
        </div>
    </div>
</div>
